* {
    margin: 0;
}

head {
    display: none; /*none vai considerar na tela como se o head n existisse, nem vai reservar espaço na pagina*/
}

body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em; /*espaçamento de uma linha para outra*/
    color: #666;
}

.pimg1 {
    background-image: url(/Parallax--Demo-Website/pexels-mohamed-almari-2168974.jpg);
    min-height: 100%;
}

div {
    display: block; /*nenhum outro elemento vai ocupar o mesmo espaço (na horizontal) quando for utilizado block*/
}

.pimg1, .pimg2, .pimg3 {
    position: relative; /*relative Defini a posição que o elemento filho (absolute) vai se basear*/
    opacity: 0.70;
    background-size: cover; /*vai pegar a menor dimensão para ocupar 100%, e mantem a dimensão menor, proporcionalmente.*/
    background-position: center;
    background-repeat: no-repeat; /*img n vai repetir se a tela for maior que o tamanho da imagem*/
    background-attachment: fixed;
}


   
















